:host {
  display: block;
  left: 0;
  width: 100%;
  overflow-y: hidden;
  overflow-x: visible;
  z-index: 1;
}

.mat-typography {
  margin-top: 0px;
}

/* Entire page container */
.topbar-container {
  top: 15px;
  width: 100%;
  min-width: 1310px;
  max-width: fit-content;
  height: 100%;
  position: relative;
  background-color: white;
}
/*--------------------------------------------------------------------------------------------------------------*/
/* Title*/

#project-name {
  font-family: "Courier New", Courier, monospace;
  font-size: 32px;
  letter-spacing: 0.01vw;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;

  display: inline-block;
  position: relative;
  width: 22%;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 10px;
  line-height: 35px;
  bottom: 25px;
  left: 10px;

  min-width: 200px;
  max-width: 320px;
}

#project-name:hover {
  opacity: 0.6;
  cursor: pointer;
}
/*---------------------------------------------------------------------------------------------------------------*/
/* Div for Algorithm Choice */

.algorithm-selector {
  width: 17vw;
  min-width: 175px;
  height: 100%;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  bottom: 35px;
}


#algorithm-text {
  padding-top: 20px;
  margin-right: 10px;
  display: inline-block;
  min-width: 170px;
  max-width: 270px;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.2vw;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 20px;
  margin-bottom: 10px;
}

#algorithm-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 12px;
  text-align: left;
  width: 15vw;
  min-width: 150px;
  max-width: 250px;
}
/*---------------------------------------------------------------------------------------------------------------*/
/* Div for managing number of nodes */

.node-control {
  width: 16.5vw;
  height: 100%;
  position: relative;
  display: inline-block;
  bottom: 35px;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 210px;
}

#node-control-description {
  display: inline-block;
  margin-left: 2.6vw;
  margin-top: 10px;
  margin-bottom: 0px;
  position: relative;
  top: 15px;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.5px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.node-slider-and-display {
  width: 100%;
  min-width: 160px;
  height: 100%;
  position: relative;
  display: inline-block;
  top: 6px;
}

#number-of-nodes{
  position: relative;
  display: inline-block;
  margin-left: 0.8vw;
  margin-right: 15px;
  font-size: 15px;
  text-align: left;
  width: 8px;
}

#node-slider {
  display: inline-block;
  width: 12.5vw;
  min-width: 170px;
  height: 53px;
}

.node-buttons {
  font-size: 14px;
  text-align: center;
  min-width: 160px;
  margin-right: 10px;

}

.node-control-buttons {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  margin-left: 15px;
  right: 0.5vw;
}

#randomise-button {
  position: relative;
  margin-left: 0.8vw;
  margin-right: 0.8vw;
  width: 7vw;
  font-weight: bold;
  min-width: 107px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#clear-button {
  position: relative;
  margin-left: 0.8vw;
  margin-right: 0.8vw;
  width: 4vw;
  font-weight: bold;
  min-width: 60px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/*---------------------------------------------------------------------------------------------------------------*/
/* Additional Algorithm path information div */

.path-info {
  width: 16vw;
  min-width: 230px;
  height: 130px;
  position: relative;
  display: inline-block;

  margin-left: 5px;
  margin-right: 5px;
  bottom: 23px;
}

.top-path-info {
  margin-bottom: 2vh;
}

.path-info-text {
  display: inline-block;
  margin-left: 5px;
  height: 1vh;
  padding-bottom: 0px;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.bold-info {
  font-weight: 700;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* Algorithm play/pause/stop control div */

.playback-control {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  height: 100%;
  position: relative;
  top: 18px;
  margin-left: 5px;
  padding-bottom: 0px;
}

.playback-left {
  flex: 0 0 340px; /* fixed width for controls */
}

.playback-buttons {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.playback-right {
  flex: 1 1 auto; /* table takes remaining space */
  min-width: 280px;
}

.sa-options {
  margin-top: 8px;
}

.sa-field {
  width: 220px;
}

#playback-button-text {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 19px;
  letter-spacing: 2px;
  word-spacing: 0px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

#start-button {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  width: 120px;
  min-width: 100px;
  height: 8vh;
  min-height: 37px;
}

#reset-button {
  display: inline-block;
  width: 120px;
  min-width: 100px;
  height: 8vh;
  min-height: 37px;
  margin-left: 15px;
}

.mat-success {
  background-color: green;
  color: #fff;
}

.playback-speed {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

#playback-slider {
  position: relative;
  display: inline-block;
  margin-left: 1vw;
  width: 275px;
}

.run-history {
  max-width: 100%;
  max-height: 120px;
  overflow: auto;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px; 
}

.history-table th, .history-table td {
  padding: 2px 3px; /* reduce padding */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 900px) {
  .playback-control {
    flex-direction: column;
  }
  .playback-left, .playback-right {
    flex: none;
    width: 100%;
  }
}

.speeds {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.speed-text {
  position: relative;
  display: inline-block;
  width: 10px;

  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

#slow {
  float: left;
  bottom: 18px;
  left: 30px;
}

#fast {
  float: left;
  bottom: 18px;
  left: 235px;
}
