.type0 {
  border-top: 6px solid rgba(0,0,0,0.3);
}

.type1 {
  border-top: 6px solid rgba(0,0,0,1.0);
}

.type2 {
  border-top: 6px solid rgba(241, 243, 104);
}

.type3 {
  border-top: 6px solid rgba(255, 0, 0);
}


.path {
  position: absolute;
  pointer-events: none;
  transform-origin: top left;
  z-index: 1;
}
